name: Docker Image Publish - Registry:ACR

on:
  push:
    branches:
    - main
  workflow_dispatch:

env:
  ACR_LOGIN_SERVER: regentdockerregistry.azurecr.io    
  IMAGE_NAME: air-gevo-regent-ui-azure              

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
          
      - name: Login to ACR
        uses: Azure/docker-login@v2
        with:
          login-server: ${{ env.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build image
        run: |
          docker build -f WebApp.Dockerfile -t $ACR_LOGIN_SERVER/$IMAGE_NAME:${{ github.sha }} .
      - name: Tag as latest
        run: |
          docker tag $ACR_LOGIN_SERVER/$IMAGE_NAME:${{ github.sha }} $ACR_LOGIN_SERVER/$IMAGE_NAME:latest
      - name: Push images
        run: |
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:${{ github.sha }}
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:latest
