name: Docker Image Publish - Registry:ACR

on:
  push:
    branches:
    - main
  workflow_dispatch:

env:
  ACR_LOGIN_SERVER: ${{ vars.ACR_LOGIN_SERVER }}
  IMAGE_NAME: ${{ vars.IMAGE_NAME }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
          
      - name: Login to ACR
        uses: Azure/docker-login@v2
        with:
          login-server: ${{ env.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build image
        run: |
          docker build -f WebApp.Dockerfile -t $ACR_LOGIN_SERVER/$IMAGE_NAME:${{ github.sha }} .
      - name: Tag as latest
        run: |
          docker tag $ACR_LOGIN_SERVER/$IMAGE_NAME:${{ github.sha }} $ACR_LOGIN_SERVER/$IMAGE_NAME:latest
      - name: Push images
        run: |
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:${{ github.sha }}
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:latest
          
# name: Docker Image Publish - Registry:ACR

# on:
#   push:
#     branches:
#     - main

# jobs:

#   build:

#     runs-on: ubuntu-latest

#     steps:
#     - name: Azure Container Registry Login
#       uses: Azure/docker-login@v2
#       with:
#         # Container registry username
#         username: ${{ secrets.SAMPLEAPP_ACR_USERNAME }}
#         # Container registry password
#         password: ${{ secrets.SAMPLEAPP_ACR_PASSWORD }}
#         # Container registry server url
#         login-server: sampleappaoaichatgpt.azurecr.io
        
#     - uses: actions/checkout@v3
#     - name: Build the Docker image
#       run:         
#         docker build . --file WebApp.Dockerfile --tag sampleappaoaichatgpt.azurecr.io/sample-app-aoai-chatgpt:$(date +'%Y-%m-%d')_$GITHUB_RUN_NUMBER;
#         docker tag sampleappaoaichatgpt.azurecr.io/sample-app-aoai-chatgpt:$(date +'%Y-%m-%d')_$GITHUB_RUN_NUMBER sampleappaoaichatgpt.azurecr.io/sample-app-aoai-chatgpt:latest;
#         docker push sampleappaoaichatgpt.azurecr.io/sample-app-aoai-chatgpt:$(date +'%Y-%m-%d')_$GITHUB_RUN_NUMBER;
#         docker push sampleappaoaichatgpt.azurecr.io/sample-app-aoai-chatgpt:latest;
      
